<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="app/css/bootstrap.min.css" rel="stylesheet" />
    <link href="app/css/bootstrap-theme.min.org.css" rel="stylesheet" />
    <link href="app/css/app.css" rel="stylesheet" />
    <title>Ads</title>
</head>
<body ng-app="adv" ng-controller="AdvController">

    <script src="app/lib/angular/angular.js"></script>
    <script src="app/lib/angular/angular-resource.min.js"></script>
    <script src="app/lib/jquery/jquery-2.1.1.js"></script>
    <script src="app/lib/bootstrap/bootstrap.min.js"></script>
    <header>
        <nav id="menu">
            <h1>{{name}}</h1>
        </nav>
    </header>

    <div class="wrapper">
        <div class="secLeft">
            <div class="blockNavigation">
                <h3>Navigation</h3>
            </div>
            <div class="blockLoginRegister">
                <p>To publish a new ad, please login.</p>
                <button id="btnLogin" class="button">Login</button>
                <button id="btnRegister" class="button">Register</button>
            </div>
        </div>
        <div class="secCenter">
            <div class="blockAdv" ng-repeat="ad in ads">
                <h2>{{ad.title}}</h2><div class="col-lg-4 secRight">{{ad.date | date: "d-MMM-yyyy"}}</div>
                <div class="imgPicture">
                    <img ng-src="{{img.pict}}" />
                </div>
                <div class="rightContent">
                    <div class="txtDescription">
                        <p>{{ad.text}}</p>
                    </div>
                    <div class="txtName">
                        <label for="txtNameData">Name</label>
                        <div class="txtNameData">{{ad.ownerName}}&nbsp</div>
                    </div>
                    <div class="txtEmail">
                        <label for="txtEmailData">Email:</label>
                        <div class="txtEmailData">{{ad.ownerEmail}}&nbsp</div>
                    </div>
                    <div class="txtPhone">
                        <label for="txtPhoneData">Tel.</label>
                        <div class="txtPhoneData">{{ad.ownerPhone}}&nbsp</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="blockPaging">
            </div>

            <div class="blockLogin">
                <h3>Login</h3>
                <div class="centerContent">
                    <div class="txtUserName">
                        <label for="txtUserNameData">Username:</label>
                        <input type="text" class="txtUserNameData" placeholder="Username..." />
                    </div>
                    <div class="txtPass">
                        <label for="txtPassData">Password:</label>
                        <input type="password" class="txtPassData" placeholder="Password..." />
                    </div>
                    <button id="btnLoginAction" class="button">Login</button>
                    <a href="#" class="centerHref">Register here</a>
                </div>
                <div class="clear"></div>
            </div>

            <div class="blockRegister">
                <h3>User Registration</h3>
                <div class="centerContent">
                    <div class="txtUserName">
                        <label for="txtUserNameData">Username:</label>
                        <input type="text" class="txtUserNameData" placeholder="Username..." />
                    </div>
                    <div class="txtPass">
                        <label for="txtPassData">Password:</label>
                        <input type="password" class="txtPassData" placeholder="Password..." />
                    </div>
                    <div class="txtName">
                        <label for="txtNameData">Name:</label>
                        <input type="text" class="txtNameData" placeholder="Full Name..." />
                    </div>
                    <div class="txtPhone">
                        <label for="txtPhoneData">Phone:</label>
                        <input type="text" class="txtPhoneData" placeholder="Phone..." />
                    </div>
                    <div class="txtConfPass">
                        <label for="txtPassData">Confirm password:</label>
                        <input type="password" class="txtPassData" placeholder="Password..." />
                    </div>
                    <div class="txtEmail">
                        <label for="txtEmailData">Email:</label>
                        <input type="text" class="txtEmailData" placeholder="Email..." />
                    </div>
                    <div class="txtTown">
                        <label for="txtTownData">Town:</label>
                        <input type="text" class="txtTownData" placeholder="Town..." />
                    </div>

                    <button id="btnRegisterAction" class="button">Register</button>
                    <a href="#" class="centerHref">Login here</a>
                </div>
                <div class="clear"></div>
            </div>


        </div>
        <div class="secRight">
            <div class="blockCategories" ng-controller="CategoryController">
                <h3>Categories</h3>
                <ul>
                    <li ng-repeat="cat in category" ng-class-odd="classTempClass">{{cat.name}}
                    </li>
                </ul>
            </div>
            <div class="blockTowns" ng-controller="TownController">
                <h3>Towns</h3>
                <ul>
                    <li ng-repeat="town in towns">{{town.name}}</li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <footer>
        <div id="footer">
            &copy 2014 by Software University Foundation, No Rights Reserved
        </div>
    </footer>
    <script src="app/js/app.js"></script>
    <script src="app/js/controllers/AdvController.js"></script>
    <script src="app/js/services/AdvService.js"></script>
    <script src="app/js/controllers/TownController.js"></script>
    <script src="app/js/services/TownService.js"></script>
    <script src="app/js/controllers/CategoryController.js"></script>
    <script src="app/js/services/CategoryService.js"></script>
</body>
</html>
