<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="app/css/bootstrap.min.css" rel="stylesheet" />
    <link href="app/css/bootstrap-theme.min.org.css" rel="stylesheet" />
    <link href="app/css/app.css" rel="stylesheet" />
    <title>Ads</title>
</head>
<body ng-app="adv" ng-controller="AdvController">

    <script src="app/lib/angular/angular.min.js"></script>
    <script src="app/lib/jquery/jquery-2.1.1.js"></script>
    <script src="app/lib/bootstrap/bootstrap.min.js"></script>
    <header>
        <nav id="menu">
            <h1>{{name}}</h1>
        </nav>
    </header>

    <div class="wrapper">
        <div class="secLeft">
            <div class="blockNavigation">
                <h3>Navigation</h3>
                <ul>
                    <li ng-repeat="nav in ngNavigation" ng-class-odd="classTempClass">{{nav.navName}}
                    </li>
                </ul>
            </div>
            <div class="blockLoginRegister">
                <p>To publish a new ad, please login.</p>
                <button id="btnLogin" class="button">Login</button>
                <button id="btnRegister" class="button">Register</button>
            </div>
        </div>
        <div class="secCenter">
            <div class="blockAdv">
                <h2>iPhone 4S for Sale</h2>
                <div class="imgPicture">
                    <img ng-src="{{imgAdv.pict}}" />
                </div>
                <div class="rightContent">
                    <div class="txtDescription">
                        <p>I have iPhone 4S 16GB for sale. Good price. Like a new. Please call me in the evenings or at weekends.</p>
                    </div>
                    <ul>
                        <li ng-repeat="ads in homeAdv">{{ads.title}}
                        </li>
                    </ul>
                    <div class="txtName">
                        <label for="txtNameData">Name</label>
                        <div class="txtNameData">Viktor</div>
                    </div>
                    <div class="txtEmail">
                        <label for="txtEmailData">Email:</label>
                        <div class="txtEmailData">igracha@abv.bg</div>
                    </div>
                    <div class="txtPhone">
                        <label for="txtPhoneData">Tel.</label>
                        <div class="txtPhoneData">+359 888 77 55 44</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="blockPaging">
            </div>

            <div class="blockLogin">
                <h3>Login</h3>
                <div class="centerContent">
                    <div class="txtUserName">
                        <label for="txtUserNameData">Username:</label>
                        <input type="text" class="txtUserNameData" placeholder="Username..." />
                    </div>
                    <div class="txtPass">
                        <label for="txtPassData">Password:</label>
                        <input type="password" class="txtPassData" placeholder="Password..." />
                    </div>
                    <button id="btnLoginAction" class="button">Login</button>
                    <a href="#" class="centerHref">Register here</a>
                </div>
                <div class="clear"></div>
            </div>

            <div class="blockRegister">
                <h3>User Registration</h3>
                <div class="centerContent">
                    <div class="txtUserName">
                        <label for="txtUserNameData">Username:</label>
                        <input type="text" class="txtUserNameData" placeholder="Username..." />
                    </div>
                    <div class="txtPass">
                        <label for="txtPassData">Password:</label>
                        <input type="password" class="txtPassData" placeholder="Password..." />
                    </div>
                    <div class="txtName">
                        <label for="txtNameData">Name:</label>
                        <input type="text" class="txtNameData" placeholder="Full Name..." />
                    </div>
                    <div class="txtPhone">
                        <label for="txtPhoneData">Phone:</label>
                        <input type="text" class="txtPhoneData" placeholder="Phone..." />
                    </div>
                    <div class="txtConfPass">
                        <label for="txtPassData">Confirm password:</label>
                        <input type="password" class="txtPassData" placeholder="Password..." />
                    </div>
                    <div class="txtEmail">
                        <label for="txtEmailData">Email:</label>
                        <input type="text" class="txtEmailData" placeholder="Email..." />
                    </div>
                    <div class="txtTown">
                        <label for="txtTownData">Town:</label>
                        <input type="text" class="txtTownData" placeholder="Town..." />
                    </div>

                    <button id="btnRegisterAction" class="button">Register</button>
                    <a href="#" class="centerHref">Login here</a>
                </div>
                <div class="clear"></div>
            </div>


        </div>
        <div class="secRight">
            <div class="blockCategories">
                <h3>Categories</h3>
                <ul>
                    <li ng-repeat="cat in ngCategories" ng-class-odd="classTempClass">{{cat.catName}}
                    </li>
                </ul>
            </div>
            <div class="blockTowns">
                <h3>Towns</h3>
                <ul>
                    <li ng-repeat="city in ads">{{city.date}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <footer>
        <div id="footer">
            &copy 2014 by Software University Foundation, No Rights Reserved
        </div>
    </footer>
    <script src="app/js/app.js"></script>
    <script src="app/js/controllers/Adv.js"></script>
</body>
</html>
