* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(226,240,217);
    font-family: Calibri;
}

header, footer {
    text-align: center;
    border: 1px solid rgb(80,126,50);
    background: rgb(169,209,142);
}

.wrapper {
    right: 0;
    text-align: center;
}

    .wrapper .secLeft, .wrapper .secCenter, .wrapper .secRight {
        display: inline-block;
        margin: 20px;
    }

    .wrapper .secLeft {
        float: left;
        width: 150px;
    }

        .wrapper .secLeft .blockLoginRegister, .wrapper .secCenter .blockCenter {
            padding: 10px;
            border: 1px solid rgb(80,126,50);
            background: rgb(169,209,142);
        }

.button {
    margin: 20px 0 10px 0;
    width: 100px;
    height: 30px;
    background: rgb(112,173,71);
    border-radius: 10px;
}

.wrapper .secCenter {
    margin: 20px auto;
    text-align: center;
    width: 600px;
}

#txtDescription, #txtName {
    margin: 10px 0 0 20px;
    display: inline-block;
    float: right;
    padding: 5px;
    width: 300px;
    border: 1px solid rgb(80,126,50);
}

#txtDescription {
    width: 360px;
}

#imgPicture {
    width: 80px;
    display: inline-block;
    float: left;
    padding: 20px;
    background: rgb(197,224,180);
    border: 1px solid rgb(80,126,50);
}

#rightContent {
    display: inline-block;
    float: right;
    text-align: left;
    width: 300px;
}

img {
    width: 50px;
}


li {
    list-style-type: none;
    text-align: left;
    margin: 0 15px;
    padding: 5px;
}

    li:hover {
        background-color: rgb(218,166,0);
        border: 1px solid rgb(80,126,50);
        padding: 4px;
    }

.wrapper .secRight {
    float: right;
    width: 150px;
}

    .wrapper .secRight .blockCategories, .wrapper .secRight .blockTowns {
        margin: 0 0 20px 20px;
        border: 1px solid rgb(80,126,50);
        background: rgb(169,209,142);
    }

h3 {
    margin: 0 15px;
    border-bottom: 1px solid rgb(80,126,50);
}

.clear {
    clear: both;
}

footer {
    display: block;
}
