* {
    margin: 0;
    padding: 0;
}

.dummyClass {
    color: blue;
}

html {
    background-color: rgb(226,240,217);
    font-family: Calibri;
}

header, footer {
    text-align: center;
    border: 1px solid rgb(80,126,50);
    background: rgb(169,209,142);
    padding: 5px;
}

.wrapper {
    right: 0;
    text-align: center;
}

    .wrapper .secLeft, .wrapper .secCenter, .wrapper .secRight {
        display: inline-block;
        margin: 20px;
    }

    .wrapper .secLeft {
        float: left;
        width: 150px;
    }

        .wrapper .secLeft .blockLoginRegister, .wrapper .secCenter .blockAdv, .wrapper .secCenter .blockLogin, .wrapper .secCenter .blockRegister {
            padding: 10px;
            border: 1px solid rgb(80,126,50);
            background: rgb(169,209,142);
        }

    .wrapper .secCenter .blockAdv {
        text-align: left;
    }

    .wrapper .secCenter .blockLogin {
        margin-top: 20px;
        border-radius: 10px;
        width: 400px;
    }
        .wrapper .secCenter .blockRegister {
        margin-top: 20px;
        border-radius: 10px;
        width: 500px;
    }

.button {
    margin: 20px 0 10px 0;
    width: 100px;
    height: 30px;
    background: rgb(112,173,71);
    border-radius: 10px;
}

.wrapper .secCenter {
    margin: 20px auto;
    text-align: center;
    width: 540px;
}

.txtName, .txtEmail, .txtPhone, .txtUserName, .txtPass, .txtTown {
    margin: 0 0 10px 20px;
    display: inline-block;
    float: right;
    padding: 5px 0 5px 5px;
    width: 360px;
    background: rgb(169,209,142);
    vertical-align: text-bottom;
}

label {
    display: inline-block;
    text-align: right;
    margin-top: 5px;
}

.txtDescription, .txtNameData, .txtEmailData, .txtPhoneData, .txtUserNameData, .txtPassData, .txtTownData {
    display: inline-block;
    float: right;
    padding: 5px;
    width: 300px;
    background: rgb(197,224,180);
    border: 1px solid rgb(80,126,50);
}

.txtEmailData {
    text-decoration: underline;
    color: blue;
}

.txtDescription {
    margin: 0 0 20px 0;
    width: 360px;
    border: 1px solid rgb(80,126,50);
}

.imgPicture {
    width: 80px;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 20px;
    background: rgb(197,224,180);
    border: 1px solid rgb(80,126,50);
}

.rightContent {
    display: inline-block;
    float: right;
    text-align: left;
    width: 360px;
}

.blockLogin .centerContent {
    text-align: left;
    width: 360px;
    padding: 20px;
}

.blockRegister .centerContent {
    text-align: left;
    width: 440px;
    padding: 20px;
}

img {
    width: 50px;
}



li {
    list-style-type: none;
    text-align: left;
    margin: 0 15px;
    padding: 5px;
}

    li:hover {
        background-color: rgb(218,166,0);
        border: 1px solid rgb(80,126,50);
        padding: 4px;
    }


.wrapper .secRight {
    float: right;
    width: 150px;
}

    .wrapper .secRight .blockCategories, .wrapper .secRight .blockTowns {
        margin: 0 0 20px 20px;
        border: 1px solid rgb(80,126,50);
        background: rgb(169,209,142);
    }

.centerHref {
    display: inline-block;
    margin-left: 165px;
}

h2 {
    margin-bottom: 5px;
}

h3 {
    margin: 5px 15px;
    border-bottom: 1px solid rgb(80,126,50);
}

.clear {
    clear: both;
}

footer {
    display: block;
}
